.idea
.phalcon
.vscode
logs/*
temp/*
node_modules
vendor

public/doc
doc/*

public/uploads/articles/*
public/uploads/company/images/*
public/uploads/products/images/*
public/uploads/salesBoxes/images/*
public/uploads/paper_catalog/*
public/uploads/seo-page-landings/*
public/uploads/feed/vkusvill/*

public/local/images/articles/*
public/local/images/products/*
public/local/images/seo-landings/*

sitemap.xml
sitemap*.xml

public/_projects/site/pictures/products/*
public/_projects/site/css/*
public/_projects/site/js/*
public/_projects/site/img/sprite/*
public/_projects/delivery*

public/_projects/partner/*
public/_projects/delivery_landing
public/_projects/delivery_operator
public/_projects/delivery/*
app/views/partner/spa.volt
app/views/site.v2/_layout/_partials/svg-sprite/svg-sprite.volt

frontend/site/blocks/sprite/sprite.scss
frontend/site/img/sprite/*
frontend/site/img/sprite.svg
frontend/site/scss/_sprite.scss
frontend/site/scss/blocks/_sprite.scss
app/views-compiled/*

!.gitkeep
public/*.conf
env.php

!public/_projects/admin.v2/assets/node_modules

# Отладка скриптов
public/examples

patch*
*.patch
.DS_Store
